* {
  margin: 0;
  padding: 0;
}

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Neo Sans Pro";
  width: 100%;
  height: 100vh;
  background: #121212;
}
header {
  max-width: 1352px;
  height: 100px;
  display: flex;
  margin: 40px 80px 64px 80px;
}
.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-nav {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 60px;
  max-width: 773px;
  width: 100%;
  height: 36px;
}

.title-img {
  max-width: 150px;
  height: 36px;
   cursor: pointer;
}

.title-nav {
  color: #f1f1f1;
    cursor: pointer;
}
.title-nav-first {
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 5px;
  width: 36px;
  font-weight: normal;
}
.header__icons {
  display: flex;
  align-items: center;
}

/* Hero */
.heimer__photo {
  position: absolute;
  width: 780px;
  height: 794px;
  left: 564px;
  top: 0px;
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(18, 18, 18, 0) 0%,
      rgba(18, 18, 18, 0.96) 95.5%,
      #121212 100%
    ),
    url(/img/heimer/heimer.png);
  z-index: -2;
  display: flex;
  overflow: hidden;
}
.heimer-first-img {
  width: 180px;
  height: 94px;
  margin-left: 155px;
  margin-top: 633px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(image.png);
  border-radius: 4px;
}
.heimer-third-img {
  width: 180px;
  height: 94px;
  margin-left: 188px;
  margin-top: 633px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(image.png);
  border-radius: 4px;
}
.heimer-second-img {
  width: 240px;
  height: 125px;
  margin-left: -419px;
  margin-top: 593px;
  background: url(image.png);
  filter: drop-shadow(0px 0px 24px rgba(255, 255, 255, 0.24));
  border-radius: 4px;
}

.heimer__container {
  padding-left: 80px;
}
.heimer-img {
  width: 466px;
  height: 31px;
  left: 80px;
  margin-top: 149px;
  margin-bottom: 95px;
}
.heimer__title {
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  color: #f1f1f1;
}

.heimer__container h4 {
  margin-top: 16px;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
}
.heimer__star {
  display: flex;
  align-items: flex-end;
  margin-top: 8px;
}
.heimer-star-time {
  width: 19px;
  height: 19px;
  font-size: 16px;
  line-height: 19px;
  margin-right: 10px;
  margin-left: 10px;
  color: #f1f1f1;
  order: 1;
  flex-grow: 0;
}
.heimer__container__star {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  margin-top: 8px;
}
.heimer-btns-container__star {
  box-sizing: border-box;
  width: 134px;
  height: 29px;
  border: 1px solid #999999;
  border-radius: 62px;
  order: 2;
  flex-grow: 0;
  margin-bottom: 16px;
    cursor: pointer;
}
.heimer-content {
  width: 487px;
  margin-top: 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 139%;
  letter-spacing: 0.11em;
  color: #999999;
}
.heimer__button {
  display: flex;
  padding: 16px 32px;
  width: 215px;
  height: 52px;
  margin-top: 16px;
  background: #f1f1f1;
  /* box-shadow: 0px 0px 24px rgba(241, 241, 241, 0.24); */
  border-radius: 4px;
  margin-bottom: 60px;
}

.heimer-trailer {
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  justify-content: center;
  justify-content: space-around;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.025em;
  gap: 12px;
  width: 176px;
  height: 24px;
  color: #121212;
  background: #f1f1f1;
    cursor: pointer;
}

/* Footer */

.heimer__footer {
  width: 100%;
  height: 169px;
  left: 0px;
  top: 772px;
  background: #1c1c1c;
}
.heimer__box {
  padding: 0px;
  height: 83px;
  padding: 40px 80px 64px 80px;
 
}
.heimer__choice {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 33px;
  max-width: 1350px;
  height: 83px;
  top: 815px;
 
}
.heimer__choice p {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.025em;
  color: #ffffff;
  
}
.heimer-film {
  padding: 0px;
  gap: 8px;
  width: 211px;
  height: 83px;
}
.heimer-film p {
  width: 100px;
  height: 19px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.025em;
  color: #ffffff;
}
.heimer-footer__button {
  padding: 16px 32px;
  margin-top: 8px;
  max-width: 211px;
  height: 56px;
  background: #2c2c2c;
  border-radius: 4px;
  order: 1;
}
.heimer-button-escolha {
  display: flex;
  align-items: center;
}

.heimer-button-img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: space-between;  
  padding: 0 3px;
  width: 176px;
  height: 24px;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.025em;
  color: #999999; 
  background: #2c2c2c;
    cursor: pointer;
}

.button__reserva {
  background: #f1f1f1;
  color: #1c1c1c;
}

.button-peg {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  background: #f1f1f1;
  font-weight: 500;
  color: #121212;
}
